shared-workspace-lockfile = false
strict-peer-dependencies = false
ignore-workspace-root-check = true
node-linker = hoisted
# prefer-symlinked-executables=false
electron_mirror = "https://npm.taobao.org/mirrors/electron/"
ignore-scripts = "esbuild,sharp"
engine-strict = true
